body{
	background-color: #48C9B0;
}
header{
	height:150px;
	background: #2980B9  ;

}
#logo img{
	margin: 10px;
	width: 140px;
	height: 140px;
	float: left;
}
#logo h1{
	vertical-align: text-bottom;
}
section{
	float: left;
	width: 100%;	
}
#presentacion{
	float: left;
	width: 50%;
}
#login{
	float: left;
	width: 50%;
	
}
form{
	
	width: 90%;
	padding: 1em;
	border: 1px solid #CCC;

}
label{
	display: inline-block;
	width: 90px;
	text-align: right;
}
.boton{
	padding-left: 90px;
	margin-left: .5em;
}
#ejemplos{
	float: left;
	width: 100%;
}
#ejemplos article{
	margin: 1em;
	background-color: #A2D9CE;
	float: left;
	width: 20%;
	padding: 1em;
	border: 1px solid #CCC;
}
#ejemplos article img{
	width: 150px;
	height: 150px;
	
}
#ejemplos article p{
	overflow: hidden;
	text-align: justify;
}